<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>code</key>
        <dict>
            <key>code1</key>
            <string>29ACF3F97B911FFCCBC63C27DC89FD60</string>
            <key>code2</key>
            <string>2DFDCE0D09599EE89D0DD553E04D80B3</string>
            <key>code3</key>
            <string>1618C4F38D0585F742C66CB2310E6FC7</string>
            <key>code4</key>
            <string>D80B448F3BD9F600F9338296A63AC7C1</string>
        </dict>
        <key>agcgw</key>
        <dict>
            <key>backurl</key>
            <string>connect-dre.dbankcloud.cn</string>
            <key>url</key>
            <string>connect-dre.hispace.hicloud.com</string>
        </dict>
        <key>client</key>
        <dict>
            <key>cp_id</key>
            <string>890090000023105926</string>
            <key>product_id</key>
            <string>736430079244631548</string>
            <key>client_id</key>
            <string>449280030262953024</string>
            <key>client_secret</key>
            <string>[!00E980133B973B88BAC0639A6B89EC59699A5BF2E6E3D4EDA3EF1E29AE52E49EDF2908754FA16599AC157137CCB81FEF5CB2A74AD46BACFF595065B853634F117BBA50C1DE7BE219A118A6FBC74565835C12428D90E60A4F7863D1D65B59F5F0FA]</string>
            <key>app_id</key>
            <string>9105385871710846237</string>
            <key>package_name</key>
            <string>com.ea.HMSAnalyticsKit</string>
            <key>api_key</key>
            <string>CgB6e3x9GdubJW/x6rGA282SKze1sgQk4mLu9dbTXCRPvC5UeD1wcMhqfB6ml/gMPtUhPV1nDD0WP8dfQoLk/XuS</string>
        </dict>
        <key>service</key>
        <dict>
            <key>analytics</key>
            <dict>
                <key>collector_url</key>
                <string>datacollector-dre.dt.hicloud.com,datacollector-dre.dt.dbankcloud.cn</string>
                <key>resource_id</key>
                <string>p1</string>
                <key>channel_id</key>
                <string/>
            </dict>
            <key>ml</key>
            <dict>
                <key>mlservice_url</key>
                <string>ml-api-dre.ai.dbankcloud.com,ml-api-dre.ai.dbankcloud.cn</string>
            </dict>
            <key>cloudstorage</key>
            <dict>
                <key>storage_url</key>
                <string>https://ops-dre.agcstorage.link</string>
            </dict>
        </dict>
    </dict>
</plist>
